<h1>Name: {{name}}</h1>
<h2>Age: {{age}}</h2>
<h3>Profession: {{profession}}</h3>



<!-- sends a post request to /reviews with a body that has a key
of text and value of the input -->
<form action="/comment" method="POST">
  <input name="text" placeholder="Type your review here"/>
  <input name="profileId" value="{{id}}" />
  <button>Submit</button>
</form>

<ol>
	{{#each review}}
	  <li>{{this.text}}</li>
	{{/each}}
</ol>